* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url(./imagens/background-site.jpg);
    background-size: cover;
}

.cabecalho {
    text-align: center;
}

.posicao-titulo {
    
    justify-content: center;
    display: flex;
}

.titulo-jogadores {
    color: white;
    background-color: rgb(49, 155, 67);
    font-size: 25px;
    width: 150px;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5em;
}

.logo-bj {
    width: 250px;
    height: 200px;
}

.jogo {
    text-align: center;
}

.posicao-virar-carta {
    align-items: center;
    display: flex;
}

.jogadores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.jogadores .botao-proxima {
    margin: 20px;
}

.carta-img {
    width: 250px;
    height: 350px;
    border-radius: 5px;
}

.transparencia{
    opacity: 0.3;
}

.transparencia:hover{
    opacity: 0.6;
}

.botao-proxima {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.virar-carta {
    color: white;
    background-color: #00bd2f;
    height: 100px;
    border-radius: 10px;
}
