body {
    background-image: url(./imagens/background-site.jpg);
    background-size: cover;
}

.cabecalho {
    text-align: center;
}

.logo-bj {
    width: 300px;
    height: 250px;
}

.jogo {
    text-align: center;
}

.jogadores button {
    margin: 20px;
}

.carta-img {
    width: 250px;
    height: 350px;
}